[submodule "src/third_party/cjson"]
	path = src/third_party/cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule "src/third_party/Oakum"]
	path = src/third_party/Oakum
	url = https://github.com/DziubanMaciej/Oakum
